@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #feefd2;
}

label {
  color: #feefd2;
}

table {
  width: 80%;
  margin: 40px auto;
  background: #855771;
  border-radius: 20px;
  padding: 30px;
  margin-top: 10px;
}

table.list {
  width: 80%;
  margin: 30px auto;
  background: #855771;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}
th {
  text-align: center;
  padding: 20px 15px;
}
td {
  text-align: center;
  padding: 20px 15px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  color: #feefd2;
  padding: 10px;
  text-align: center;
}

input[type="text"],
input[type="number"] {
  width: 91%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(165, 161, 161);
  border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
  background: #eee;
  padding: 6px 12px;
  margin: 15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}
.btn-success{
  width: 200px;
  background-color: #28a745;
  color: #FFFFFF;
  padding: 10px 20px; 
  border-radius: 30px; 
  border: none; 
  text-decoration: none; 
}