RewriteEngine On
RewriteBase /TUGAS-CRUD-PWEBPR-C-3032/
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /TUGAS-CRUD-PWEBPR-C-3032/index.php [L]